
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,118,45,1) 100%);
}

.top {
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  bottom:1.5rem;
  right:1.5rem;
  width:3rem;
  height:3rem;
  line-height: 3rem;
  font-size:1rem;
  border-radius: .5rem;
  border:1px solid white;
  box-shadow: 0 0 2px 0px white;
  transition: opacity 1s ease;
  opacity:0;
  cursor: pointer;
}

.top.scrolled {
  color:#000;
  text-shadow: 0px 0px 2px #fff;
  opacity:1;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
}
a {
  text-decoration: none;
  color:white;
  display: block;
  padding:1rem ;
  transition:color 1s ease;
}

nav {
  display: block;
  background-color: black;
  border-bottom:2px solid white;
  width:100%;
  height:50px;
  position: fixed;
  font-size: 20px;
  font-size: 1vw;
}

li.selected a{
  color:rgb(48, 1, 255);
}

.box {
  height:1000px;
  height: 55vw;
  border-bottom:2px solid white;
  padding-top: 60px;
  color:black;
  font-size: 24px;
  font-size: 1.25vw;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-size: 3vw;
}

p{
  padding-bottom: .5vw;
}

#home{
  font-size: 24px;
  font-size: 1.25vw;
}

#about{
  height:auto;
  font-size: 24px;
  font-size: 1.25vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2rem;
}

.intro{
  text-align: center;
  margin-bottom: 25%;
  margin-top: 2%;
}


img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  height: auto;
  width: auto\9;
  padding-bottom: 2rem;
  padding-right: 2rem;
  text-align: center;
  justify-content: center;
  
}